::selection {
	color: #f1f1f1;
	background-color: #282828;
}
::cue {
	color: #f1f1f1;
	font: 1.4em/1.2 Roboto;
	background: transparent;
	text-shadow: 0 0 5px #282828;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Roboto;
}
a {
	outline: 0;
	text-decoration: none;
	transition: .2s;
	cursor: pointer;
}
header {
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 50px;
	padding: 0 20px;
	line-height: 50px;
	font-family: Cinzel;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #282828;
}
h1 {
	float: left;
	margin: 0;
	font-size: 16px;
}
header i {
	font-size: 14px;
}
header a {
	display: inline-block;
	color: #fff;
	user-select: none;
}
h1 a:hover, h1 i, header li:nth-child(n+4) a:hover, header .on {
	color: #f44;
}
header ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header li {
	float: left;
	display: inline-block;
	font-weight: 700;
}
header li a {
	padding: 0 7px;
}
header li:last-child {
	margin-right: -7px;
}
header span {
	display: none;
	margin-left: 3px;
}
nav {
	display: none;
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: #282828;
	background-color: #c1c1c1;
	box-shadow: 0px 5px 5px 0px rgba(40, 40, 40, .75);
}
nav:nth-of-type(1) {
	font: 700 12px/2.5 Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
	cursor: default;
}
nav a {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	color: #282828;
	user-select: none;
}
nav a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 2px;
	background-color: #282828;
	transition: .2s;
	transform: scaleX(0);
	visibility: hidden;
}
nav a:hover:before, nav a.on:before {
	transform: scaleX(1);
	visibility: visible;
}
nav div:nth-child(2) {
	margin-top: 20px;
}
nav p {
	margin: 5px 0 0;
	padding: 0 20px;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
	text-shadow: 0 0 5px #000;
}
label {
	font: 700 12px/1 Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
	user-select: none;
}
input, button {
	margin: 0;
	border: 0;
	outline: 0;
}
input[type="checkbox"] {
	margin-right: 2px;
	transform: scale(1.1);
	vertical-align: -2px;
}
button, input[type="search"] {
	height: 32px;
	color: #757575;
	background-color: #f1f1f1;
	font: 400 12px Roboto;
}
input[type="search"] {
	float: left;
	width: 88%;
	padding: 0 10px;
}
button {
	float: right;
	width: 11.5%;
	cursor: pointer;
}
button:active {
	color: #f1f1f1;
	background-color: #757575;
}
.ui-autocomplete {
	width: 1%;
	margin: 0;
	position: fixed;
	z-index: 3;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-height: calc(100vh - 100px);
	box-shadow: 0px 5px 5px 0px rgba(40, 40, 40, .75);
}
.ui-autocomplete li {
	display: block;
	padding: 0 10px;
	font-size: 12px;
	line-height: 2.5;
	color: #282828;
	background-color: #c1c1c1;
	cursor: default;
}
.ui-autocomplete li:nth-child(even) {
	background-color: #f1f1f1;
}
.ui-autocomplete div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ui-state-hover, .ui-state-active {
	font-weight: 700;
}
.ui-helper-hidden-accessible {
	display: none;
}
main {
	min-height: calc(100vh - 100px);
}
section {
	padding: 10px;
}
section:after, aside:after {
	content: '';
	display: table;
	clear: both;
}
article {
	float: left;
	padding: 10px;
	font-size: 12px;
}
article a {
	display: block;
	position: relative;
	color: #fff;
}
article img {
	display: block;
	width: 100%;
	padding-top: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
article span {
	position: absolute;
	width: 100%;
	padding: 2px 4px;
	line-height: 16px;
	background-color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	word-break: break-word;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
article a:hover span {
	white-space: normal;
	text-overflow: clip;
}
article small, article b {
	position: absolute;
	bottom: 0;
	padding: 4px;
	line-height: 1;
	background-color: #000;
}
article small {
	left: 0;
	max-width: 75%;
	font-size: inherit;
	border-bottom-left-radius: 5px;
}
.favorites small {
	cursor: move;
}
article b {
	right: 0;
	border-bottom-right-radius: 5px;
}
article .fas.fa-heart, h5 .fas {
	color: #f44;
}
article b, h5 b {
	cursor: grab;
}
article b:active, h5 b:active {
	cursor: grabbing;
}
.adsense {
	width: 100%;
	margin: 0 auto;
}
.adsbygoogle {
	display: block;
}
h2, h3 {
	margin: 0;
	padding: 15px 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	word-break: break-word;
}
h2 {
	color: #fff;
	letter-spacing: 1px;
	background-color: #c1c1c1;
	text-shadow: 0 0 2px #282828;
}
h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: inherit;
	margin: 0 10%;
	color: #fff;
	text-shadow: 0 0 10px #282828;
}
h3 span {
	display: contents;
	color: #757575;
	text-shadow: none;
}
aside {
	margin: 0;
	clear: both;
	padding: 10px;
	font: 700 14px/50px Cinzel;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff;
}
aside i {
	font-size: 12px;
}
aside a {
	display: block;
	text-align: center;
	color: #282828;
	background-color: #c1c1c1;
	border-radius: 5px;
	user-select: none;
}
aside a:hover {
	color: #fff;
	background-color: #282828;
}
.prev, .next {
	width: calc(50% - 10px);
}
.prev {
	float: left;
}
.next {
	float: right;
}
footer {
	height: 50px;
	text-align: center;
	background-color: #282828;
}
footer div {
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	user-select: none;
}
footer i {
	color: #fff;
	padding: 19px;
	font-size: 12px;
	cursor: pointer;
}
footer i:active {
	color: #f44;
}
address {
	font-style: normal;
	width: 100%;
}
kbd {
	z-index: 1;
	display: none;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	color: #f1f1f1;
	background-color: rgba(40, 40, 40, .80);
}
kbd i {
	width: 40px;
	font-size: 30px;
}
kbd span {
	font-size: 36px;
	line-height: 30px;
}
video {
	position: absolute;
	outline: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
bdi {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 5px;
	color: #f1f1f1;
	background-color: rgba(40, 40, 40, .80);
}
bdi * {
	float: left;
	display: inline-block;
}
bdi i {
	font-size: 20px;
	cursor: pointer;
}
bdi i:active {
	color: #f44;
}
bdi time {
	width: 60px;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	user-select: none;
}
.stamp {
	position: absolute;
	top: -17px;
	margin-left: -30px;
	pointer-events: none;
}
figure {
	position: relative;
	margin: 3.5px 0;
	width: calc(100% - 155px);
	height: 13px;
	background-color: #f1f1f1;
	cursor: col-resize;
	-webkit-appearance: none;
}
figcaption {
	position: absolute;
	height: 13px;
}
.buffer {
	background-color: #c1c1c1;
}
.progress {
	background: linear-gradient(to right, #ff8, #f44);
}
dt {
	padding: 20px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: #757575;
}
dt a {
	color: #757575;
}
dt a:hover {
	color: #282828;
}
h4 {
	margin: 0;
	font-size: 14px;
	word-break: break-word;
}
h5 {
	margin: 10px 0;
	font-size: inherit;
}
h5 a, h5 b {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
dt div a {
	display: inline-block;
	margin: 0 5px;
}
dt div a:before {
	content: '\f02c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	line-height: 1;
	padding-right: 3px;
	color: #c1c1c1;
	transition: .2s;
}
dt div a[rel="help"]:before {
	content: '\f891';
}
dt div a:hover:before {
	color: #757575;
}
dt p {
	margin: 10px 0 0;
	word-break: break-word;
}
.rotate {
	pointer-events: none;
	animation: spin 1s infinite linear;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.freeze {
	overflow: hidden;
	visibility: hidden;
	user-select: none;
	pointer-events: none;
	background-color: #282828;
}
.freeze *, .freeze *:before {
	transition: 0s !important;
}
.keyboard {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 20px;
	visibility: visible;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-height: 90%;
	overflow: auto;
	font-size: 14px;
	line-height: 1;
	color: #282828;
	background-color: #c1c1c1;
	border-radius: 5px;
	cursor: zoom-out;
	pointer-events: auto !important;
}
.keyboard b {
	display: inline-block;
	width: 25%;
	text-align: center;
	text-transform: uppercase;
	font-family: Cinzel;
}
.keyboard li {
	padding: 10px 0;
	border-radius: 5px;
}
.keyboard li:nth-child(even) {
	background-color: #f1f1f1;
}
@media (max-width: 531px) {
	address {
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 50px;
		height: 0;
		padding-bottom: 56.25%;
		box-shadow: 0px 10px 10px 0px #fff;
	}
}
@media (min-width: 532px) {
	address {
		position: relative;
		height: calc(100vh - 50px);
	}
}
@media (min-width: 320px) {
	h1 {
		font-size: 17px;
	}
	h2, h3, h4, aside {
		font-size: 16px;
	}
	header i {
		font-size: 15px;
	}
	nav:nth-of-type(1), label, button, input[type="search"], .ui-autocomplete li, dt, article, aside i, footer i {
		font-size: 14px;
	}
	header li a {
		padding: 0 10px;
	}
	header li:last-child {
		margin-right: -10px;
	}
	.ui-autocomplete {
		max-height: calc(100vh - 105px);
	}
	button, input[type="search"], .ui-autocomplete li {
		height: 35px;
	}
	input[type="checkbox"] {
		margin-right: 3px;
		transform: scale(1.2);
	}
	h2, h3 {
		padding: 14px 20px;
		line-height: 22px;
	}
	article {
		width: 50%;
	}
	article img {
		padding-top: 22px;
	}
	article span {
		line-height: 18px;
	}
	article small {
		max-width: 50%;
	}
	dt {
		line-height: 22.5px;
	}
	footer i {
		padding: 18px;
	}
}
@media (min-width: 640px) {
	h1, h2, h3, h4, aside {
		font-size: 18px;
	}
	header i, aside i, footer i, nav:nth-of-type(1), label, button, input[type="search"], .ui-autocomplete li, dt, article, .keyboard {
		font-size: 16px;
	}
	nav p {
		font-size: 14px;
	}
	header li a {
		padding: 0 15px;
	}
	header li:last-child {
		margin-right: -15px;
	}
	nav a {
		margin: 0 15px;
	}
	.ui-autocomplete {
		max-height: calc(100vh - 110px);
	}
	button, input[type="search"], .ui-autocomplete li {
		height: 40px;
	}
	input[type="checkbox"] {
		margin: 0 4px 0 0;
		transform: scale(1.3);
		vertical-align: -1px;
	}
	nav div {
		float: left;
		width: 50%;
	}
	nav div:nth-child(2) {
		margin: 0;
	}
	h2, h3 {
		padding: 13px 20px;
		line-height: 24px;
	}
	h3 {
		margin: 0 20%;
	}
	article {
		width: 33.333%;
	}
	article img {
		padding-top: 24px;
	}
	article span {
		line-height: 20px;
	}
	article small {
		max-width: 60%;
	}
	dt {
		line-height: 25px;
	}
	footer i {
		padding: 17px;
	}
	.keyboard {
		width: 400px;
	}
}
@media (min-width: 960px) {
	header span {
		display: inline;
	}
	aside {
		font-size: 24px;
		line-height: 100px;
	}
	aside i, footer i {
		font-size: 22px;
	}
	h2, h3, h4 {
		font-size: 20px;
	}
	h1 {
		font-size: 19px;
	}
	h1 i, header li {
		font-size: 17px;
	}
	header li i {
		font-size: 15px;
	}
	nav:nth-of-type(1), label, button, input[type="search"], .ui-autocomplete li, dt, article, .keyboard {
		font-size: 18px;
	}
	nav a {
		margin: 0 20px;
	}
	.ui-autocomplete {
		max-height: calc(100vh - 115px);
	}
	button, input[type="search"], .ui-autocomplete li {
		height: 45px;
	}
	input[type="checkbox"] {
		margin-right: 6px;
		transform: scale(1.4);
		vertical-align: 0;
	}
	h2, h3 {
		padding: 12px 20px;
		line-height: 26px;
	}
	h3 {
		margin: 0 30%;
	}
	article {
		width: 25%;
	}
	article img {
		padding-top: 26px;
	}
	article span {
		line-height: 22px;
	}
	dt {
		line-height: 27.5px;
		padding-left: 25%;
		padding-right: 25%;
	}
	dt div a {
		margin: 0 10px;
	}
	footer i {
		padding: 14px;
	}
	bdi {
		bottom: 20px;
		left: 20px;
		width: calc(100% - 40px);
		padding: 20px;
	}
	bdi i {
		font-size: 24px;
	}
	bdi time {
		width: 80px;
		font-size: 17px;
		line-height: 24px;
	}
	.stamp {
		top: -23px;
		margin-left: -40px;
	}
	figure {
		width: calc(100% - 202px);
		height: 17px;
	}
	figcaption {
		height: 17px;
	}
	.keyboard {
		width: 450px;
	}
}
@media (min-width: 1280px) {
	aside {
		font-size: 30px;
	}
	aside i, footer i {
		font-size: 28px;
	}
	h2, h3, h4 {
		font-size: 22px;
	}
	h1 {
		font-size: 20px;
	}
	h1 i, header li {
		font-size: 18px;
	}
	header li i {
		font-size: 16px;
	}
	nav:nth-of-type(1), label, button, input[type="search"], .ui-autocomplete li, dt, article, .keyboard {
		font-size: 20px;
	}
	nav a {
		margin: 0 25px;
	}
	.ui-autocomplete {
		max-height: calc(100vh - 120px);
	}
	button, input[type="search"], .ui-autocomplete li {
		height: 50px;
	}
	input[type="checkbox"] {
		margin-right: 8px;
		transform: scale(1.6);
		vertical-align: 1px;
	}
	nav p {
		font-size: 16px;
	}
	h2, h3 {
		padding: 11px 20px;
		line-height: 28px;
	}
	article {
		width: 20%;
	}
	article img {
		padding-top: 28px;
	}
	article span {
		line-height: 24px;
	}
	dt {
		line-height: 30px;
	}
	footer i {
		padding: 11px;
	}
	.keyboard {
		width: 500px;
	}
}
@media (min-width: 1600px) {
	article {
		width: 16.666%;
	}
}
@media (min-width: 1920px) {
	article {
		width: 14.285%;
	}
}
@media (min-width: 2240px) {
	article {
		width: 12.5%;
	}
}
@media (min-width: 2560px) {
	article {
		width: 11.111%;
	}
}
@media (min-width: 2880px) {
	article {
		width: 10%;
	}
}
